n8n/issue-collector-workflow.json
{
  "name": "Join - KI Issue Collector",
  "nodes": [
    {
      "parameters": {
        "content": "## 📥 Eingang & Filterung\nEmpfängt E-Mails per Gmail, normalisiert sie,\nfiltert Systemmails heraus und prüft das\nTageslimit (max. 10 Tickets/Tag).",
        "height": 420,
        "width": 900,
        "color": 5
      },
      "id": "sticky-intake",
      "name": "Sticky Note - Eingang",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        200
      ]
    },
    {
      "parameters": {
        "content": "## 🤖 KI-Verarbeitung\nGroq analysiert den Inhalt und extrahiert\nTitel, Kategorie, Priorität und Beschreibung.",
        "height": 340,
        "width": 480,
        "color": 6,
        "position": null
      },
      "id": "sticky-ai",
      "name": "Sticky Note - KI",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        100
      ]
    },
    {
      "parameters": {
        "content": "## ✅ Erfolgspfad\nTicket in Firebase speichern, Zähler erhöhen,\nBestätigungs-E-Mail senden & Mail archivieren.",
        "height": 340,
        "width": 820,
        "color": 2
      },
      "id": "sticky-success",
      "name": "Sticky Note - Erfolg",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1660,
        60
      ]
    },
    {
      "parameters": {
        "content": "## ⚠️ Fehlerpfade\n**Limit erreicht:** Absender wird informiert.\n**KI-/Firebase-Fehler:** Fehler-Mail senden\n& Mail zur manuellen Bearbeitung markieren.",
        "height": 240,
        "width": 820,
        "color": 4
      },
      "id": "sticky-errors",
      "name": "Sticky Note - Fehler",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.subject }}",
              "operation": "notContains",
              "value2": "Feature Request wurde erfasst"
            },
            {
              "value1": "={{ $json.subject }}",
              "operation": "notContains",
              "value2": "Tageslimit erreicht"
            },
            {
              "value1": "={{ $json.subject }}",
              "operation": "notContains",
              "value2": "Feature Request konnte nicht verarbeitet"
            },
            {
              "value1": "={{ $json.from }}",
              "operation": "notContains",
              "value2": "join.issue.collector@gmail.com"
            }
          ],
          "combineOperation": "all"
        }
      },
      "id": "system-email-filter",
      "name": "🔍 Systemmail-Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const today = $now.toFormat('yyyy-MM-dd');\nconst staticData = $getWorkflowStaticData('global');\nif (staticData.countDate !== today) {\n  staticData.countDate = today;\n  staticData.dailyCount = 0;\n}\nconst item = $input.first().json;\nreturn [{ json: { ...item, dailyTicketCount: staticData.dailyCount, todayDate: today } }];"
      },
      "id": "count-checker",
      "name": "📊 Tageszähler prüfen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.dailyTicketCount }}",
              "operation": "smallerEqual",
              "value2": 10
            }
          ]
        }
      },
      "id": "throttle-check",
      "name": "🛡️ Throttle Check (max 10/Tag)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify({\"model\": \"llama-3.3-70b-versatile\",\"temperature\": 0.3,\"messages\": [{\"role\": \"system\", \"content\": \"Du bist ein KI-Assistent der Feature Requests und Bug-Reports analysiert. Antworte NUR mit einem JSON-Objekt ohne Markdown-Blocke.\\\\n\\\\nFormat:\\\\n{\\\\n  \\\\\\\"title\\\\\\\": \\\\\\\"Praegnanter Titel (max 60 Zeichen)\\\\\\\",\\\\n  \\\\\\\"category\\\\\\\": \\\\\\\"technical | user-story | bug\\\\\\\",\\\\n  \\\\\\\"priority\\\\\\\": \\\\\\\"urgent | medium | low\\\\\\\",\\\\n  \\\\\\\"deadline\\\\\\\": \\\\\\\"YYYY-MM-DD oder null\\\\\\\",\\\\n  \\\\\\\"description\\\\\\\": \\\\\\\"Aufbereitete Beschreibung des Anliegens\\\\\\\",\\\\n  \\\\\\\"subtasks\\\\\\\": [\\\\\\\"Konkreter Umsetzungsschritt 1\\\\\\\", \\\\\\\"Konkreter Umsetzungsschritt 2\\\\\\\"]\\\\n}\\\\n\\\\nSubtask-Regeln:\\\\n- Nur konkrete, umsetzbare Schritte als Subtasks (max. 4, je max. 60 Zeichen)\\\\n- Kein allgemeiner Text - Subtasks sind Aufgaben, keine Beschreibungen\\\\n- Leeres Array [] wenn keine sinnvollen Schritte ableitbar sind\\\\n\\\\nPrioritaet-Regeln:\\\\n- urgent: kritisch, dringend, blockiert, crash\\\\n- low: nice to have, irgendwann, optional\\\\n- medium: Standard\"},{\"role\": \"user\", \"content\": \"Analysiere diese E-Mail:\\\\n\\\\nVon: \" + $json.from + \"\\\\nBetreff: \" + $json.subject + \"\\\\n\\\\nInhalt:\\\\n\" + ($json.text || $json.html || '')}]}) }}"
      },
      "id": "groq-ai",
      "name": "🤖 KI-Analyse (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1260,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wjuvgofURXYQ0EDL",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// output[0] = Erfolg  |  output[1] = Fehler\ntry {\n  const aiResponse = items[0].json.choices[0].message.content;\n  let parsed;\n  try { parsed = JSON.parse(aiResponse); }\n  catch (e) { parsed = { title: 'Neues Ticket', category: 'technical', priority: 'medium', deadline: null, description: '', subtasks: [] }; }\n\n  const emailData = $items('🔧 Mail normalisieren')[0].json;\n  const bodyText = emailData.text || emailData.html || '';\n  const senderMatch = bodyText.match(/REPLY_TO_EMAIL:\\s*([^\\n\\r<]+)/i);\n  const emailRegex = /[\\w.+\\-]+@[\\w\\-]+\\.[\\w.]+/;\n  const fromRaw = emailData.replyTo || emailData.from || '';\n  const fromMatch = fromRaw.match(emailRegex);\n  const senderEmail = (senderMatch && senderMatch[1].trim())\n    || (fromMatch && fromMatch[0])\n    || fromRaw.replace(/^[\"'\\s<>]+|[\"'\\s<>]+$/g, '').trim();\n\n  const kiHinweis = '\\n\\n---\\n⚠️ KI-generiert aus E-Mail von: ' + senderEmail;\n\n  const rawSubtasks = Array.isArray(parsed.subtasks) ? parsed.subtasks : [];\n  const subtasks = rawSubtasks\n    .filter(function(t) { return typeof t === 'string' && t.trim().length > 0; })\n    .slice(0, 4)\n    .map(function(t, i) { return { id: Date.now() + i, text: t.trim(), completed: false }; });\n\n  return [[{ json: {\n    title: parsed.title,\n    category: parsed.category || 'technical',\n    priority: parsed.priority || 'medium',\n    deadline: parsed.deadline,\n    description: (parsed.description || '') + kiHinweis,\n    subtasks: subtasks,\n    senderEmail: senderEmail,\n    originalSubject: emailData.subject\n  }}], []];\n} catch (e) {\n  const emailData = items[0].json;\n  const fromRaw = emailData.replyTo || emailData.from || '';\n  const fromMatch = fromRaw.match(/[\\w.+\\-]+@[\\w\\-]+\\.[\\w.]+/);\n  return [[], [{ json: { error: e.message, senderEmail: (fromMatch && fromMatch[0]) || 'unknown' } }]];\n}"
      },
      "id": "parse-ai-response",
      "name": "🔧 KI-Antwort aufbereiten",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1480,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://join-f047f-default-rtdb.europe-west1.firebasedatabase.app/tasks.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify({ id: $now.toMillis(), title: $json.title, description: $json.description, category: $json.category, priority: $json.priority, dueDate: $json.deadline, status: 'triage', position: $now.toMillis(), createdAt: $now.toISO(), createdBy: 'email-collector', assignedTo: [], subtasks: Array.isArray($json.subtasks) ? $json.subtasks : [], senderEmail: $json.senderEmail, aiGenerated: true }) }}"
      },
      "id": "create-firebase-task",
      "name": "🗃️ Ticket in Firebase anlegen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        1700,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "join.issue.collector@gmail.com",
        "toEmail": "={{ $('🔧 KI-Antwort aufbereiten').item.json.senderEmail }}",
        "subject": "Dein Feature Request wurde erfasst!",
        "emailType": "html",
        "message": "<html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px\"><div style=\"background:#2A3647;padding:20px;border-radius:8px 8px 0 0\"><h1 style=\"color:white;margin:0;font-size:24px\">Join - Kanban Board</h1></div><div style=\"border:1px solid #ddd;padding:20px;border-radius:0 0 8px 8px\"><h2 style=\"color:#2A3647\">Dein Ticket wurde angelegt!</h2><p>Vielen Dank fuer deinen Feature Request. Wir haben dein Anliegen erfasst und im Triage-Backlog platziert.</p><p>Du wirst per E-Mail benachrichtigt, wenn sich der Status aendert.</p></div></body></html>"
      },
      "id": "confirm-email",
      "name": "📨 Bestaetigungs-E-Mail senden",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1920,
        80
      ],
      "credentials": {
        "smtp": {
          "id": "EyhwVvpVZCQLZTbY",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://join-f047f-default-rtdb.europe-west1.firebasedatabase.app/daily_count/{{ $now.toFormat('yyyy-MM-dd') }}.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={ \"ts\": {{ Date.now() }} }"
      },
      "id": "increment-counter",
      "name": "➕ Zähler in Firebase erhöhen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        1920,
        200
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "addLabels",
        "messageId": "={{ $('🔧 Mail normalisieren').item.json.messageId }}",
        "labelIds": [
          "DEINE_LABEL_ID_ERLEDIGT"
        ]
      },
      "id": "move-to-done",
      "name": "📁 Mail erledigt",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2140,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "HXentnWaSPt6PMO8",
          "name": "Gmail OAuth2 API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "fromEmail": "join.issue.collector@gmail.com",
        "toEmail": "={{ $('🔧 Mail normalisieren').item.json.replyTo || $('🔧 Mail normalisieren').item.json.from }}",
        "subject": "Tageslimit erreicht - Feature Request nicht erfasst",
        "emailType": "html",
        "message": "<html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px\"><div style=\"background:#2A3647;padding:20px;border-radius:8px 8px 0 0\"><h1 style=\"color:white;margin:0\">Join - Issue Collector</h1></div><div style=\"border:1px solid #ddd;padding:20px;border-radius:0 0 8px 8px\"><h2 style=\"color:#FF8190\">Tageslimit erreicht</h2><p>Leider wurde heute das maximale Limit von <strong>10 Feature Requests pro Tag</strong> erreicht.</p><p>Bitte sende deine Anfrage morgen erneut.</p></div></body></html>"
      },
      "id": "limit-email",
      "name": "🚫 Limit-E-Mail senden",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1260,
        560
      ],
      "credentials": {
        "smtp": {
          "id": "EyhwVvpVZCQLZTbY",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "join.issue.collector@gmail.com",
        "toEmail": "={{ $('🔧 Mail normalisieren').item.json.replyTo || $('🔧 Mail normalisieren').item.json.from }}",
        "subject": "Dein Feature Request konnte nicht verarbeitet werden",
        "emailType": "html",
        "message": "<html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px\"><div style=\"background:#2A3647;padding:20px;border-radius:8px 8px 0 0\"><h1 style=\"color:white;margin:0\">Join - Issue Collector</h1></div><div style=\"border:1px solid #ddd;padding:20px;border-radius:0 0 8px 8px\"><h2 style=\"color:#FF8190\">Verarbeitungsfehler</h2><p>Leider konnte dein Feature Request aufgrund eines technischen Fehlers nicht verarbeitet werden.</p><p>Unser Team hat deine E-Mail erhalten und wird sich zeitnah melden.</p></div></body></html>"
      },
      "id": "error-email",
      "name": "📨 Fehler-E-Mail an Absender",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1480,
        560
      ],
      "credentials": {
        "smtp": {
          "id": "EyhwVvpVZCQLZTbY",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "addLabels",
        "messageId": "={{ $('🔧 Mail normalisieren').item.json.messageId }}",
        "labelIds": [
          "DEINE_LABEL_ID_ZU_BEARBEITEN"
        ]
      },
      "id": "move-to-error",
      "name": "📁 Mail zu bearbeiten",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1700,
        560
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "HXentnWaSPt6PMO8",
          "name": "Gmail OAuth2 API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "noop-systemmail",
      "name": "📭 Systemmail verwerfen",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        600,
        480
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": true,
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        },
        "options": {}
      },
      "id": "email-trigger",
      "name": "📧 E-Mail Empfang (Gmail)",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        200,
        320
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "HXentnWaSPt6PMO8",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Wandelt die verschachtelte Gmail-Struktur in flache Felder um,\n// die alle nachfolgenden Nodes erwarten (from, subject, text ...).\nconst msg = items[0].json;\n\nfunction findHeader(name) {\n  const headers = (msg.payload && msg.payload.headers) || [];\n  const hit = headers.find(function (h) {\n    return h.name && h.name.toLowerCase() === name.toLowerCase();\n  });\n  return hit ? hit.value : '';\n}\n\nfunction decodeBase64Url(data) {\n  if (!data) return '';\n  return Buffer.from(data.replace(/-/g, '+').replace(/_/g, '/'), 'base64').toString('utf8');\n}\n\nfunction extractBody() {\n  const payload = msg.payload || {};\n  if (payload.body && payload.body.data) return decodeBase64Url(payload.body.data);\n  const parts = payload.parts || [];\n  const plain = parts.find(function (p) { return p.mimeType === 'text/plain'; });\n  if (plain && plain.body && plain.body.data) return decodeBase64Url(plain.body.data);\n  const html = parts.find(function (p) { return p.mimeType === 'text/html'; });\n  if (html && html.body && html.body.data) return decodeBase64Url(html.body.data);\n  return msg.snippet || '';\n}\n\nconst flat = {\n  from: msg.from || findHeader('From'),\n  replyTo: msg.replyTo || findHeader('Reply-To'),\n  subject: msg.subject || findHeader('Subject'),\n  text: msg.text || extractBody(),\n  messageId: msg.id || '',\n  threadId: msg.threadId || ''\n};\n\nreturn [{ json: Object.assign({}, msg, flat) }];\n"
      },
      "id": "normalize-mail",
      "name": "🔧 Mail normalisieren",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        380,
        320
      ]
    }
  ],
  "connections": {
    "📧 E-Mail Empfang (Gmail)": {
      "main": [
        [
          {
            "node": "🔧 Mail normalisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Mail normalisieren": {
      "main": [
        [
          {
            "node": "🔍 Systemmail-Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Systemmail-Filter": {
      "main": [
        [
          {
            "node": "📊 Tageszähler prüfen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📭 Systemmail verwerfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Tageszähler prüfen": {
      "main": [
        [
          {
            "node": "🛡️ Throttle Check (max 10/Tag)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ Throttle Check (max 10/Tag)": {
      "main": [
        [
          {
            "node": "🤖 KI-Analyse (Groq)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🚫 Limit-E-Mail senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 KI-Analyse (Groq)": {
      "main": [
        [
          {
            "node": "🔧 KI-Antwort aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 KI-Antwort aufbereiten": {
      "main": [
        [
          {
            "node": "🗃️ Ticket in Firebase anlegen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📨 Fehler-E-Mail an Absender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗃️ Ticket in Firebase anlegen": {
      "main": [
        [
          {
            "node": "📨 Bestaetigungs-E-Mail senden",
            "type": "main",
            "index": 0
          },
          {
            "node": "➕ Zähler in Firebase erhöhen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📨 Fehler-E-Mail an Absender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "➕ Zähler in Firebase erhöhen": {
      "main": [
        [
          {
            "node": "📁 Mail erledigt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 Fehler-E-Mail an Absender": {
      "main": [
        [
          {
            "node": "📁 Mail zu bearbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
